<div class="navbar bg-info mb-1">
    <a class="navbar-brand text-white">Hotel Vision Admin Page</a>
</div>
<div class="row no-gutters">
    <div class="col-3">
        <button class="btn btn-block btn-outline-info" routerLink="/admin" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
            Overview
        </button>
        <button class="btn btn-block btn-outline-info" routerLink="/admin/inventory" 
                routerLinkActive="active">Inventory</button>
    </div>
    <div class="col p-2">
        <router-outlet></router-outlet>
    </div>
</div>
