@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<h1>Hotel Vision - Home Page</h1>
<body>
    <hr />
    <script>
        function getUrl() {
            document.getElementById("swagger").href = window.location.href + "swagger";
        }
    </script>
</body>