<h1 id="tableLabel">Current Inventory Data</h1>

<p *ngIf="!items"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="items">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Category</th>
      <th>Current Stock</th>
      <th>Capacity</th>
      <th>Remaining Stock</th>
      <th>Stock Percentage</th>
      <th>Unit Cost</th>
      <th>Total Cost</th>
      <th>Restock Scheduled</th>
      <th>Restock Schedule Date</th>
      <th>Last Restock</th>
      <th>Last Modified Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.ItemName }}</td>
      <td>{{ item.CategoryName }}</td>
      <td>{{ item.CurrentStock }}</td>
      <td>{{ item.Capacity }}</td>
      <td>{{ item.RemainingStock }}</td>
      <td>{{ item.StockPercentage }}</td>
      <td>{{ item.UnitCost }}</td>
      <td>{{ item.TotalCost }}</td>
      <td>{{ item.RestockScheduled }}</td>
      <td>{{ item.RestockScheduleDate }}</td>
      <td>{{ item.LastRestockDate }}</td>
      <td>{{ item.LastModifiedDate }}</td>
    </tr>
  </tbody>
</table>
